DOMAIN=monityio.com
API_DOMAIN=api.monityio.com
NEXT_PUBLIC_STRAPI_API_URL=https://api.monityio.com

STRAPI_API_TOKEN=your_strapi_api_token_here

APP_KEYS="key_one_here,key_two_here"
API_TOKEN_SALT=salt_here
ADMIN_JWT_SECRET=jwt_secret_here
TRANSFER_TOKEN_SALT=transfer_salt_here
JWT_SECRET=jwt_secret_here
ENCRYPTION_KEY=encryption_key_here

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=host.docker.internal
DATABASE_PORT=3306
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=your_mysql_password_here
DATABASE_SSL=false
